# IDE folders
.idea/

# Environment
.env.production
.env.development
.env.test

# dependencies
node_modules

# dist folder
dist

# logs
logs

# drizzle-migrations - could cause conflicts
/drizzle-migrations/meta/
